@charset "UTF-8";

a:link {text-decoration: none; color: #555555;}
a:visited {text-decoration: none; color: #555555;}
a:active {text-decoration: none; color: #555555;}
a:hover {text-decoration: underline; color: #886e45;}

.nameBar {background-color: #878787; color: white; width: 950px; height: 25px; padding: 3px; margin: 0;}
.nameBar .left_div {float: left; line-height: 25px; padding-left: 5px;}
.nameBar .right_div {float: right; line-height: 35px; padding-right: 5px; display:table-cell; vertical-align:middle; padding-top: 3px;}
.nameBar .right_div img {cursor: pointer;}

.navi_div {width: 950px; padding: 0; margin-top: 20px; font-family: 맑은고딕;}
.infoBar {width: 948px; height: 70px; background-color: #fcfcfa; padding: 3px; margin: 0; border-bottom: 1px solid #878787; border-left: 1px solid #878787; border-right: 1px solid #878787; font-weight: bold; font-size: 11pt;}
.infoBar ul {list-style: none; margin: 0; display: block; margin-top: 4px; padding-left: 0px;}
.infoBar li {float: left; border-left: 1px solid #e1e1e1; height: 50px; padding-top: 10px; text-align: center; width: 150px; margin: 0}
.infoBar span {display: block;}
.infoBar .under{margin-top: 10px; color: #3aaeca;}

.side_navi {float: left; border: 1px solid #c9c9c9; margin-top: 15px; width: 160px; font-size: 11pt; font-family: 맑은고딕;}
.side_navi_title {display: block; background-color: #fcfcfa; border-bottom: 1px solid #c9c9c9; padding-left: 10px; padding-top: 7px; padding-bottom: 7px; font-weight: bold; font-size: 12pt;}
.side_navi_span {font-weight: bold; display: block; padding-left: 10px; padding-bottom: 5px;}
.side_navi ul {list-style: none; padding-left: 0px; margin: 0;}
.side_navi li {margin: 0; font-size: 10pt;}
.side_navi_line {border-bottom: 1px solid #e1e1e1;}
.side_navi_line li {padding-left: 20px;}

.contents {float: left; margin-top: 10px; margin-left: 20px; width: 775px; font-family: 맑은고딕;}
.contents_title {font-size: 13pt; font-weight: bold;}

.main_RecentOrderList {height: 180px;}
.main_wishList {height: 360px;}
.main_latesbooksList {height: 360px;}
.main_CounselList {height: 200px;}

.main_RecentOrderList table {border-top: 2px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; text-align: center; margin-top: 10px;}
.main_RecentOrderList th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 30px; width: 100px; line-height: 30px; }
.main_RecentOrderList td {border-bottom: 1px solid #d5d5d5; height: 30px; line-height: 30px;}

.main_CounselList table {border-top: 2px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; text-align: center; margin-top: 10px;}
.main_CounselList th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 30px; width: 100px; line-height: 30px; }
.main_CounselList td {border-bottom: 1px solid #d5d5d5; height: 30px; line-height: 30px;}

.sapn_right {float: right; margin: 0; padding-top: 8px; font-weight: bold; padding-right: 3px;}
.count {color: #ea5759; font-weight: bold};

.pre_myinfo_title {width: 778px; border-bottom: 1px solid #e1e1e1; font-size: 14pt; font-weight: bold; padding-bottom: 10px;}
.pre_myinfo_div {text-align: center; margin-top: 70px;}
.pre_myinfo_div .pre_myinfo_form {font-weight: bold; line-height: 30px; border: 1px solid #d5d5d5; margin: 0 auto; margin-top: 20px; width: 470px; text-align: center;}
.pre_myinfo_div .pre_myinfo_dl {padding: 15px 15px 15px 100px; height: 65px;}
.pre_myinfo_div .pre_myinfo_form dt {float: left; width: 90px; font-weight: bold; float: left; text-align: left;}
.pre_myinfo_div .pre_myinfo_form dd {width: 250px; color: #7B5A2B; float: left; text-align: left;}
.pre_myinfo_next_btn {color: white; background-color: #937354; border: 1px solid #937354; width: 120px; height: 30px; margin-top: 30px; font-weight: bold; font-size: 10pt;}
.pre_myinfo_msg {color: #ea5759; font-weight: bold;}

.myInfo_update_table table {border-top: 2px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; margin-top: 10px; width: 778px; text-align: left;}
.myInfo_update_table th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 35px; width: 100px; line-height: 35px; padding-left: 15px;}
.myInfo_update_table td {border-bottom: 1px solid #d5d5d5; height: 35px; line-height: 35px; padding-left: 10px;}
.myInfo_update_table input {border: 1px solid #d5d5d5; height: 20px; font-size: 10pt;}
.myInfo_select {font-size: 10pt; height: 23px;}

.changePwdBtn {color: white; border: 1px solid #9d9d9d; background-color: #9d9d9d; cursor: pointer; font-weight: bold; font-size: 9pt; width: 100px;}
.changePwdBtn:hover {color: white; border: 1px solid #555555; background-color: #9d9d9d; cursor: pointer; font-weight: bold; font-size: 9pt; height: 25px;}
.myInfo_update_ok {color: white; border: 1px solid #937354; background-color: #937354; cursor: pointer; font-weight: bold; font-size: 9pt; height: 30px; width: 100px;}
.myInfo_update_ok:hover {color: white; border: 1px solid #69492a; background-color: #937354; cursor: pointer; font-weight: bold; font-size: 9pt; height: 30px; width: 100px;}
.myInfo_update_cancel {color: white; border: 1px solid #9d9d9d; background-color: #9d9d9d; cursor: pointer; font-weight: bold; font-size: 9pt; height: 30px; width: 100px;}
.myInfo_update_cancel:hover {color: white; border: 1px solid #555555; background-color: #9d9d9d; cursor: pointer; font-weight: bold; font-size: 9pt;}

.update_pwd_sub {margin: 10px; padding-left: 0px; font-size: 10pt; font-weight: bold;}
.updatePwdTable table {margin-top: 20px; font-size: 10pt; border-collapse: collapse;}
.updatePwdTable tr {border-bottom: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5; text-align: left; height: 45px;}
.updatePwdTable th {background-color: #fafafa; width: 750px; padding-left: 10px}
.updatePwdTable td {padding-left: 10px; width: 700px;}

.update_pwd_ok {color: white; background-color: #af9883; border: 1px solid #af9883; width: 80px; height: 30px; cursor: pointer; font-weight: bold;}
.update_pwd_ok:hover {color: white; background-color: #af9883; border: 1px solid #947558; font-weight: bold;}
.update_pwd_cancel {color: white; background-color: #d5d5d5; border: 1px solid #d5d5d5; width: 80px; height: 30px; cursor: pointer; font-weight: bold;}
.update_pwd_cancel:hover {color: white; background-color: #d5d5d5; border: 1px solid #d1d1d1; width: 80px; height: 30px; cursor: pointer; font-weight: bold;}

.sort_box {border: 1px solid #e1e1e1; padding: 10px; margin-top: 5px; height: 130px; width: 753px;}
.sort_box input {border: 1pt solid #999999;}
.sort_box a {cursor: pointer; text-decoration: none;}
.sort_box dl{padding: 10px;}
.sort_box dt{float: left; width: 100px; font-weight: bold; text-align: center;}
.sort_box dd{float: left; width: 600px; margin-bottom: 10px;}
.sort_box dd span{height: 22px; margin: 0; padding: 0;}
.sort_box select {height: 22px; vertical-align: middle; font-size: 10pt;}
#fromYear {border:1pt solid #999999; font-size:9pt; color:#333333;}
#fromMonth {border:1pt solid #999999; font-size:9pt; color:#333333;}
#fromDay {border:1pt solid #999999; font-size:9pt; color:#333333;}
#toYear {border:1pt solid #999999; font-size:9pt; color:#333333;}
#toMonth {border:1pt solid #999999; font-size:9pt; color:#333333;}
#toDay {border:1pt solid #999999; font-size:9pt; color:#333333;}

.myOrderList_table table {border-top: 2px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; text-align: center; margin-top: 10px;}
.myOrderList_table th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 30px; width: 100px; line-height: 30px; }
.myOrderList_table td {border-bottom: 1px solid #d5d5d5; height: 30px; line-height: 30px;}

.myOrder_under_div {font-size: 13pt; font-weight: bold; padding-bottom: 10px; margin-top: 40px;}

.summary_box {border: 1px solid #e1e1e1; padding: 10px; margin-top: 5px; margin-bottom: 40px;}
.summary_box ul {padding-left: 20px;}
.summary_box li {margin-bottom: 5px; list-style: disc;}
.point_red {font-weight: bold; color: #ea5759;}

.point_box {float: left; margin-right: 5px; height: 24px; line-height: 26px; margin-left: 50px; width: 300px;}
.point_mode {border:1pt solid #999999; font-size:9pt; color:#333333;}
.point_more {border: 1px solid #8f8f8f; background: #9d9d9d; color: #fff; height: 25px; vertical-align: middle; font-size: 9pt; cursor: pointer; width: 80px;}

.lates_sort_left {float: left; font-size: 10pt; color: #555555; vertical-align: middle; line-height: 30px;}

.wish_sort_box {background: fdfdfd; border-top: 1px solid #ececec; border-bottom: 1px solid #c0c0c0; height: 30px; margin-top: 10px; vertical-align: middle; padding-top: 8px;}
.wish_sort_left {float: left; font-size: 10pt; color: #555555;}
.wish_sort_right {float: right; font-size: 10pt; color: #555555;}
.wish_sort_left select {height: 22px; font-size: 10pt;}
.wish_sort_btn {border: 1px solid #c6c8cb; color: #666; background-color: #fff; cursor: pointer; height: 26px; font-size: 9pt; padding: 0 10px 0 10px;}
.wish_sort_chk {height: 15px; width: 15px; vertical-align: middle;}

.wish_list_content {border-bottom: 1px solid #e1e1e1; vertical-align: middle; overflow: hidden; position: relative; padding-left: 17px; width: 775px;}
.wish_list_content ul {list-style: none; margin-top: 20px; margin-right: 10px; float: left;}
.wish_list_content li {float: left; width: 180px; border-bottom: none; vertical-align: top;}
.wish_list_content dt {clear: both;	}	
.wish_list_content input {display: block;}
.wish_list_page {text-align: center; padding-top: 10px;}
	
.wish_book_up {float: left;}
.wish_book_img {height: 170px; width: auto; max-width: 152px; position: relative; padding: 0; margin-left: 5px; padding-left: 5px;}
.wish_book_img img {width: 130px; height: 170px;}
.wish_book_popup {display: none; z-index: 20; width: 96%; height: 29px; color: #fff !important; background-color: #000; text-align: center; line-height: 29px; text-decoration: none !important; opacity: 0.7; position: absolute; bottom: 0; right: 0;}
	
.on {display: block;}

.sentence_list_box {margin-top: 10px; padding: 10px; border-top: 3px solid #e1e1e1;}
.sentence_list_box ul {width: 740px; list-style: none; vertical-align: top;}
.sentence_list_box li {position: relative; overflow: hidden; border-bottom: 1px solid #e1e1e1; padding-bottom: 10px; padding-top: 10px;}
.sentence_head {float: left;}
.sentence_head img{width: 90px; height: 120px;}
.sentence_body {margin-left: 20px; float: left; width: 630px; line-height: 20px;}
.sentence_body span {float: right;}

.comm_sort {border-top: 2px solid #e1e1e1; padding: 15px 0 5px 15px; margin-bottom: 0;}
.comm_sort span {margin-left: 10px; margin-right: 10px;}
.comm_table {margin-top: 0;}
.comm_table table {border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; text-align: center; margin-top: 5px;}
.comm_table th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 30px; width: 120px; line-height: 30px; }
.comm_table td {border-bottom: 1px solid #d5d5d5; height: 30px; line-height: 30px;}
.comm_table_btn {border: 1px solid #c6c8cb; color: #666; background-color: #fff; cursor: pointer; height: 23px; font-size: 9pt;}

.order_detail_info_box {border: 1px solid #e1e1e1; padding: 10px; margin-top: 5px; height: 30px; width: 710px; font-size: 10pt; padding-left: 50px; vertical-align: middle; line-height: 30px;}
.order_detail_info_box span {margin-right: 70px;}
.order_detail_book {margin-top: 20px;}
.order_detail_book span {font-weight: bold;	}
.order_detail_book table {border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; text-align: center; margin-top: 5px;}
.order_detail_book th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 30px; width: 90px; line-height: 20px; }
.order_detail_book td {border-bottom: 1px solid #d5d5d5; height: 30px; line-height: 30px; font-size: 10pt;}
.order_detail_book_btn {border: 1px solid #c6c8cb; color: #666; background-color: #fff; cursor: pointer; height: 23px; font-size: 9pt;}
.order_detail_book_btn2 {border: 1px solid #c6c8cb; color: #878787; background-color: #f8f8f8; cursor: pointer; height: 23px; font-size: 9pt; width: 70px}
.order_detail_book_btn3 {border: 1px solid #c6c8cb; color: #3aaeca; background-color: #f8f8f8; cursor: pointer; height: 23px; font-size: 9pt; font-weight: bold; width: 70px;}
.order_detail_notice {margin: 20px 0 20px 0; width: 760px; padding-left: 25px;}
.order_detail_notice ul {list-style: disc;}

.order_detail_user {width: 775px;}
.order_detail_user table {border-collapse: collapse; margin-top: 10px; font-size: 10pt; text-align: left;}
.order_detail_user tr {border-bottom: 1px solid #d5d5d5;}
.order_detail_user th {background-color: #f8f8f8; border-left: 1px solid #d5d5d5; width: 120px; height: 30px; line-height: 30px; padding-left: 10px;}
.order_detail_user td {border-right: 1px solid #d5d5d5; height: 30px; line-height: 30px; padding-left: 10px; width: 360px;}

.exp_point_detail_box {border: 1px solid #e1e1e1; padding: 10px; margin-top: 5px; height: 30px; width: 753px; font-size: 10pt; text-align: center; line-height: 30px;}
.exp_point_detail_table table {border-top: 2px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; text-align: center; margin-top: 10px;}
.exp_point_detail_table th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 30px; width: 100px; line-height: 30px; }
.exp_point_detail_table td {border-bottom: 1px solid #d5d5d5; height: 30px; line-height: 30px;}
.exp_point_notice {margin-top: 20px; padding: 0 10px 10px 20px;}
.exp_point_notice ul {list-style: disc;}

.ready_review_list {border-top: 2px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; vertical-align: middle; overflow: hidden; position: relative; padding-left: 35px; margin-top: 5px; padding-bottom: 10px;}
.ready_review_list ul {list-style: none; margin-top: 20px; margin-right: 10px; float: left; height: 240px;}
.ready_review_list li {float: left; width: 175px; border-bottom: none; vertical-align: top;}
.ready_review_list dt {clear: both;	margin-top: 10px; margin-bottom: 10px; margin-left: 5px; width: 140px;}
.ready_review_list dd {float: left;}
.ready_review_list input {display: block;}
.ready_review_page {text-align: center; padding-top: 10px; clear: both;}
.ready_review_up {float: left; margin-bottom: 5px; margin-left: 5px;}
.ready_review_img {height: 170px; width: auto; max-width: 152px; position: relative; padding: 0;}
.ready_review_img img {width: 130px; height: 170px;}
.review_btn {border: 1px solid #c6c8cb; color: #666; background-color: #fff; cursor: pointer; height: 20px; font-size: 9pt;}

.Lates_list_content {border-bottom: 1px solid #e1e1e1; vertical-align: middle; overflow: hidden; position: relative; padding-left: 15px;}
.Lates_list_content ul {list-style: none; margin-top: 20px; margin-right: 10px; float: left; height: 300px;}
.Lates_list_content li {float: left; width: 180px; border-bottom: none; vertical-align: top;}
.Lates_list_content dt {clear: both;	}	
.Lates_list_content input {display: block;}

.review_article_title {border-bottom: 1px solid #e1e1e1; height: 50px; line-height: 4; font-size: 12pt; color: #775d43; padding-left: 10px;}
.review_article_title span {float: right; font-size: 10pt; line-height: 5; color: #555555;}
.review_article_box {margin-top: 10px; padding: 5px;}
.review_article_box ul {width: 740px; list-style: none; vertical-align: top;}
.review_article_box li {position: relative; overflow: hidden; padding-bottom: 10px;}
.sentence_head {float: left;}
.sentence_head img{width: 70px; height: 100px;}
.sentence_body {margin-left: 20px; float: left; width: 630px; line-height: 20px;}
.review_article_contents {padding: 10px; border: 1px solid #d5d5d5;}
.review_article_contents table {font-family: 맑은고딕; border-collapse: collapse;}
.review_article_contents tr {border-bottom: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5; text-align: left; height: 45px;}
.review_article_contents th {background-color: #fafafa; width: 150px; padding-left: 20px; font-size: 10pt;}
.review_article_contents td {padding-left: 10px; width: 700px;}
.review_article_contents textarea {font-family: 맑은고딕;}
.review_article_btn {color: #555555; background-color: #fafafa; border: 1px solid #d5d5d5; height: 30px; width: 100px; font-weight: bold; cursor: pointer; font-size: 11pt;}
.review_article_btn:hover {color: #555555; background-color: #fafafa; border: 1px solid #555555; height: 30px; width: 100px; font-weight: bold; cursor: pointer; font-size: 11pt;}

.sentence_contents {padding: 10px; border: 1px solid #d5d5d5;}
.sentence_contents table {font-family: 맑은고딕; border-collapse: collapse;}
.sentence_contents tr {border-bottom: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5; text-align: left; height: 45px;}
.sentence_contents th {background-color: #fafafa; width: 150px; padding-left: 20px; font-size: 10pt;}
.sentence_contents td {padding-left: 10px; width: 700px;}
.sentence_contents textarea {font-family: 맑은고딕;}

#pre_myinfo_pwd {height: 20px; border: 1px solid #d5d5d5; width: 150px;}

